<!DOCTYPE html>
{% extends 'admin/master.html' %}
{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
function updateLogContainer(){
  var text = $("#package_name_input").val();

    $.ajax({
        url: "/admin/log/raw_logs",
        type: "get",
        data: {package_name: text},
        success: function(raw_json) {
            json = JSON.parse(raw_json);
            $.each(json.logs, function(idx, log){
            $("#log_display").append("<b>" + json.date + " : " + json.package_name + " : " + log + "</b><br>");
            });
        },
        error: function(xhr) {
            //Do Something to handle error
        }
    });
};

window.onload = initLogPage;

function initLogPage() {
    // Init package_name_input
    $.ajax({
        url: "/admin/log/script_names",
        type: "get",
        data: {},
        success: function(json) {
            script_list = JSON.parse(json);
            $.each(script_list, function(idx, script){
            $("#package_name_input").append("<option>" + script +"</option>");
            });
        },
        error: function(xhr) {
            //Do Something to handle error
        }
    });

    // setInterval
    setInterval("updateLogContainer();",1000);
}

$("#package_name_input").keyup(updateLogContainer);
</script>


Package name: <select id="package_name_input" name="selectBox"></select>

<div id="log_display"></div>
{% endblock body %}